
@{
    long tarjetaId = ViewBag.tarjetaId;
    @model IEnumerable<PP.IServicio.PlanTarjeta.PlanTarjetaDto>
}
<br />
<br />
<br />
<br />
<br />
<h2>Index</h2>

<p>
    <div class="row bottomSpace">
        <div class="col-lg-12">
            <div class="pull-left">
                <a href="@Url.Action("Create", "PlanTarjeta",new {id=tarjetaId})"
                   class="btn btn-default pull-left btn-success">Crear Plan</a>
            </div>
        </div>
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TarjetaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eliminado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TarjetaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eliminado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
