@model IEnumerable<PP.IServicio.Tarjeta.TarjetaDto>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />
<br />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eliminado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eliminado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                <div class="row bottomSpace">
                    <div class="col-lg-12">
                        <div class="pull-right">
                            <a href="@Url.Action("Index", "PlanTarjeta",new {id=item.Id})"
                               class="btn btn-default pull-right btn-success">Ver Planes de Tarjeta</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
